<?xml version="1.0"?>
<launch>

    <!-- ROSPlan -->
    <include file="$(find rosplan_planning_system)/launch/interfaced_planning_system.launch" >
        <arg name="domain_path"		value="$(find rosplan_tiago_active_human_fall_prevention)/pddl/active_human_fall_prevention/domain/domain.pddl" />
        <arg name="problem_path"	value="$(find rosplan_tiago_active_human_fall_prevention)/pddl/active_human_fall_prevention/problem/problem.pddl" />
        <arg name="autom_gen_problem_path"	value="$(find rosplan_tiago_active_human_fall_prevention)/pddl/active_human_fall_prevention/generated/generated.pddl" />
        <arg name="data_path" default="$(find rosplan_planning_system)/test/turtlebot_demo/../" />
    </include>


    <!-- actionlib servers -->
    <!--node name="" pkg="rosplan_tiago_active_human_fall_prevention" type="" respawn="false" output="screen">
    </node-->

    <!--node name="" pkg="rosplan_tiago_active_human_fall_prevention" type="" respawn="false" output="screen">
    </node-->

    <!-- action clients -->
    <node name="rosplan_interface_go_client" pkg="rosplan_tiago_hazard_detection" type="RPGo" respawn="false" output="screen">
        <param name="knowledge_base"		value="rosplan_knowledge_base" />
        <param name="pddl_action_name"		value="go" />
        <param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch" />
        <param name="action_feedback_topic" value="/rosplan_plan_dispatcher/action_feedback" />
    </node>

    <node name="rosplan_interface_go_scanning_client" pkg="rosplan_tiago_active_human_fall_prevention" type="RPGoScanning" respawn="false" output="screen">
        <param name="knowledge_base"		value="rosplan_knowledge_base" />
        <param name="pddl_action_name"		value="go_scanning" />
        <param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch" />
        <param name="action_feedback_topic" value="/rosplan_plan_dispatcher/action_feedback" />
    </node>

    <node name="rosplan_interface_human_approach_detect_client" pkg="rosplan_tiago_active_human_fall_prevention" type="RPHumanApproachDetect" respawn="false" output="screen">
        <param name="knowledge_base"		value="rosplan_knowledge_base" />
        <param name="pddl_action_name"		value="human_approach_detect" />
        <param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch" />
        <param name="action_feedback_topic" value="/rosplan_plan_dispatcher/action_feedback" />
    </node>

    <node name="rosplan_interface_human_interact_client" pkg="rosplan_tiago_active_human_fall_prevention" type="RPHumanInteract" respawn="false" output="screen">
        <param name="knowledge_base"		value="rosplan_knowledge_base" />
        <param name="pddl_action_name"		value="human_interact" />
        <param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch" />
        <param name="action_feedback_topic" value="/rosplan_plan_dispatcher/action_feedback" />
    </node>

</launch>
