<?xml version="1.0"?>
<launch>

    <!-- ROSPlan -->
    <include file="$(find rosplan_planning_system)/launch/interfaced_planning_system.launch" >
        <arg name="domain_path"		value="$(find rosplan_demos)/common/domain_turtlebot.pddl" />
        <arg name="problem_path"	value="$(find rosplan_demos)/common/problem_turtlebot.pddl" />
    </include>

    <node name="rosplan_interface_undock_server" pkg="rosplan_interface_tiago" type="undock.py" respawn="false" output="screen">
    </node>

    <!-- sim actions -->
    <!-- dock action interface -->
    <node name="rosplan_interface_undock_client" pkg="rosplan_interface_tiago" type="RPTutorial10" respawn="false" output="screen">
        <param name="knowledge_base"		value="rosplan_knowledge_base" />
        <param name="pddl_action_name"		value="undock" />
        <param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch" />
        <param name="action_feedback_topic" value="/rosplan_plan_dispatcher/action_feedback" />
    </node>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch" >
        <arg name="pddl_action_name" value="dock" />
    </include>

    <include file="$(find rosplan_planning_system)/launch/includes/simulated_action.launch" >
        <arg name="pddl_action_name" value="goto_waypoint" />
    </include>

</launch>
